#mapid {
    width: 75%; /* Can be in percentage also. */
    height: 600px;
    padding: 10px;
    margin: 20px;
    border-color: darkslategrey;
    border: solid 3px;
}

.selector-for-some-widget {
    box-sizing: content-box;
}
img {
    vertical-align: top;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0px;
    height: 250px;
    margin-bottom: 15px;
}

.my-container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.attractionList-checklist{
    display: block;
    padding: 5px;
    margin: 20px;
}

h1 {
    font-family: myfont;
    font-size: 40px;
}

.row{
    border:0px;
    margin-right:0;
    margin-left:0;
    max-width:100%;}

.border-bottom {
    border-bottom: none;
}
.border-3{
    border: none;
}

.col-3 {
    display: flex;
    justify-content: center;
}

.list-group-item {
    width: 150px;
}

a {
    color: black;
    font-size: 14px;
    text-decoration: none;
    margin: auto;
}

a:hover {
    text-decoration: none;
    color: black;
}


.attractionList {
    padding: 10px 15px;
    background: deepskyblue;
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    margin: 15px;
    text-align: center;
}

.attractionList:hover {
    background: cornflowerblue;
    color: black;
}

.btn-class{
    margin: 20px;
    padding: 10px 15px;
    border-radius: 12px;
    background: deepskyblue;
}
.btn-class:hover{
    background: cornflowerblue;
}






:root {
    --my-primary: rgb(73, 213, 28);
    --my-secondary: rgb(65,176,55);
}

@font-face {
    font-family: myfont;
    src: url(/fonts/HelloHoneyPersonalUse-2OEo8.otf);
}