@page "/broenmellemchristiansoeogfrederiksoe"

<div class="row d-flex justify-content-center my-3">
    <div class="card mb-3">
        <div class="row">
            <div class="card-header text-center">
                <h3>Broen mellem Christiansø og Frederiksø</h3>
            </div>

            <div class="col-md-4 my-2">
                <img src="images/broen.jpg" class="img-fluid rounded-start my-4" alt="...">
                <img src="images/broen2.jpg" class="img-fluid rounded-start my-4" alt="...">
                <img src="images/bro-mellem-christiansoe-og-frederiksoe.jpg" class="img-fluid rounded-start my-4" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body" style="min-height: 550px">
                    <p class="card-text" style="text-align: justify">
                        Forbindelsen med ”land” som beboerne siger, hvormed de mener Bornholm, 
                        er i stormvejr og om vinteren meget besværlig, og ofte kan øen i flere 
                        dage være fuldstændig afskåret. Men selv mellem holmene indbyrdes kunne 
                        forbindelsen over havnen navnlig med nordlig eller sydlig vind tidligere 
                        være meget besværlig. Forbindelsen bestod nemlig af en flydebro, dannet af to 
                        træpontoner, der indbyrdes og med land var forbundne med tre kobrygger. 
                        Disse pontoner var fastholdt til land med svære kæder. Selvom det ikke blæste 
                        særlig stærkt, kunne passagen over denne bro være besværlig nok, da pontonerne 
                        slingrede frem og tilbage, så snart der var lidt sø i havnen, og med den mindste 
                        kuling tværs på broen blev de ikke så lidt overskyllede. Men beboerne var jo vante 
                        til denne overgang og foretrak den for den færgeforbindelse, som iværksattes med en 
                        båd, som haledes over havnen, når forholdene nødvendiggjorde, at flydebroen blev lagt bort.
                        <br><br>
                        I stormende kuling er det endog hændt, at denne forbindelse har været umulig, og beboerne, 
                        der ikke kom over i tide fra den ene ø, har måttet overnatte på den anden ø. Når et skib 
                        skulle passere gennem havnen, måtte broen tages bort som oftest lang tid forinden, og det var 
                        forbundet med et ikke ringe arbejde; men dette blev rigtignok betydelig vanskeligere, når 
                        stormen fordrede broens fjernelse. Der måtte da sættes tovtrosser på pontonbroen, og de tunge 
                        ankerkæder måtte tages af. At fiskerne ikke var glade, når lodsformanden kaldte dem til dette 
                        arbejde, var naturligt nok, og navnlig er det sikkert, at de ikke holdt af det, når det skulle
                        gøres, hvad ofte kunne hænde, midt om natten måske i vinterkulde og regn. De sidste to vintre 
                        turde forvalteren slet ikke lade flydebroen ligge, men lod den tage ind ved de første efterårsstorme, 
                        og først næste forår blev den lagt på plads igen, fordi pontonerne var så møre og vandtrukne, at man 
                        måtte frygte, at boltene, som holdt kæderne, ved pludselig opstået uvejr eller vindspring skulle rive 
                        sig ud, og broen derved gå i drift, forinden det kunne lykkes at få den bjærget, hvad der kunne forvolde 
                        stor skade på fiskerbådene i havnen. For en del år siden skete det en gang, at broen slog sig løs, og da 
                        blev bl.a. en stor fiskerkvase så stærkt beskadiget, at den sank.
                        <br><br>
                        Det var således på høje tid at afløse denne bro med en ny; men man ville jo nødig foreslå at bygge den 
                        nye bro af samme konstruktion på grund af de anførte mangler, men også af hensyn til de forholdsvis store
                        vedligeholdelsesomkostninger. Disse bestod nemlig i, at pontonerne jævnligt måtte kalfatres og tjæres, 
                        ligesom de stadig måtte pumpes læns, og de lange, svære, ret kostbare kæder, der altid lå i vand, 
                        fortæredes og måtte fornyes af og til. Det gjaldt nu om at finde en konstruktion, som uden at blive 
                        for dyr gav en bedre forbindelse mellem øerne. Beboerne så helst, at det blev en bro, der spændte fra 
                        den ene ø til den anden. En fast bro, som havde været forholdsvis let at bygge, kunne man ikke have af 
                        hensyn til skibene, der skulle passere. Det måtte være en bevægelig bro med tilstrækkelig stor spændvidde 
                        til, at en råsejler som f. eks ”Georg Stage” kunne komme ret igennem. Den måtte ikke have for mange 
                        mekaniske indretninger, der kunne komme i uorden og være vanskelige at gøre i stand igen med de på 
                        øen værende hjælpemidler. Hydraulisk eller elektrisk kraft var ifølge sagens natur udelukket. 
                        Først tænkte man at bygge en mindre molearm ud fra hver side for at gøre spændvidden mindre og 
                        så tildanne en skydebro eller en enkelt klapbro over åbningen, men denne løsning – som for resten 
                        også var blevet dyrere – opgaves af hensyn til, at strømmen, som kan løbe ret stærkt mellem øerne, 
                        mulig ville blive for stærk, når profilet indsnævredes, og fremkalde uheldige påvirkninger på 
                        fartøjerne i havnen. Når der var isdrift, kunne det også være ubehageligt at stoppe denne midt i 
                        havnen. Man blev derfor stående ved det nu i oktober fuldførte arbejde.
                        <br><br>
                        Broen vil, som det ses på Plan 1 nærmest kunne sammenlignes med en hængebro, der er skåret over 
                        på midten, og således indrettet, at hver brohalvdel støtter sig til og kan dreje sig om hver sin
                        hængesøjle. Når broen lukkes, forbindes de to halvdele ved en låsemekanisme, der består af en 50
                        mm x 50 mm bolt – en på hver side – der ved en vægtstangsforbindelse kan skydes ind i en svær, 
                        støbt jernsko, der er således formet, at den fanger bolten, inden den skydes ind på plads.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>