@page "/"

<div class="row d-flex">
    <div class="col-sm-12 d-flex justify-content-center text-center my-5">
        Her kan du udforske øen. <br>
        Læs mere om de foskellige seværdigheder under
        Attraktioner, og find en rute ud fra de sæværdigheder du ønsker at se i Find Rute.
    </div>
</div>

<div class="row-d-flex">
    <div class="col-sm-12 d-flex justify-content-around fixed-bottom">
        <img alt="" style="height: 12rem" src="images/gæstgiveriet.jpg"/>
        <img alt="" style="height: 12rem"  src="images/unnamed.jpg"/>
        <img alt="" style="height: 12rem"  src="images/383px-Christiansoe.jpg"/>
    </div>
</div>






