@page "/"

<div style="text-align: center">
 <Paragaph>
     Her kan du udforske øen. <br>
     Læs mere om de foskellige seværdigheder under 
     Attraktioner, og find en rute ud fra de sæværdigheder du ønsker at se i Find Rute.
 </Paragaph>   
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="row ">
    <div class="col text-center">
        
        <img class="img-fluid" alt="" src="images/gæstgiveriet.jpg"/>
        
    </div>
    <div class="col text-center">
        
        <img class="img-fluid" alt="" src="images/unnamed.jpg"/>

    </div>
    
    <div class="col text-center">
        <img class="img-fluid" alt="" src="images/383px-Christiansoe.jpg"/>
    </div>
    
</div>

