@page "/"

<div class="row d-flex justify-content-center">
    <div class="col-sm-7 text-center my-5">
        <p class="card-text index-p">
            Her kan du udforske øen. <br><br>
            Læs mere om de foskellige seværdigheder under
            Attraktioner, og find en rute ud fra de sæværdigheder du ønsker at se i Find Rute.
            <br><br>
        </p>
        
        <h5 class="card-subtitle mb-2 text-muted">Om Christiansø</h5>
        <hr>
        <p class="card-text index-p">
            Christiansø er en lille dansk ø i Østersøen 18 km nordøst for Bornholm. Det er den største af øerne i øgruppen Ertholmene og den ene af øgruppens to beboede øer. Færgeforbindelsen fra Gudhjem på Bornholm anløber Christiansø, hvorfra de guidede ture udgår.
            <br><br>
            Arealet af Christiansø er 0,22 km², og øen udgør hovedparten af Ertholmenes samlede areal på 0,38 km². Møllebakken på Christiansø er med sine 22 moh Ertholmenes højeste punkt. Ertholmene ligger på 55° 19' nordlig bredde og 15° 11' østlig længde, og Danmarks østligste punkt er placeret på Østerskær ca. 300 m øst for Christiansø. Der var (pr. 1. januar 2020) 84 fastboende på Christiansø og Frederiksø (der opgøres ikke særskilte indbyggertal for de to øer), og Christiansø er Danmarks østligste beboede ø. Alle bygninger på øen er fredet.
            <br><br>
            Ertholmene har en særlig status i Danmark, idet de hverken er en del af en kommune eller en region, og beboerne betaler derfor hverken kommuneskat eller sundhedsbidrag.Øgruppen ejes og administreres af Forsvarsministeriet.
            <br><br>
            Da Christiansø hører direkte under statens administration, betales statsskat, men ikke kommuneskat.
            <br><br>
            Christiansø Sogn dækker Ertholmene, og Christiansø Kirke er øernes eneste.
            <br><br>
            Christiansø var meget kendt for dets fiskeri men i 2013 flyttede den sidste fisker, derfra.
            <br><br>
            70.000 turister besøger årligt Christiansø og Frederiksø. Christiansø Museum ligger i Lille Tårn på Frederiksø og er både militærhistorisk museum for Christiansø Fæstning og lokalarkiv for Ertholmene samt.
            <br><br>
            Ruth's Kryddersild er øernes eneste produktionsvirksomhed.
            <br><br>
        </p>
        <h5 class="card-subtitle mb-2 text-muted">Fæstningen</h5>
        <hr>
        <p class="card-text index-p">
            Christian 5. grundlagde fæstningen Christiansø i 1684. Der var op imod 450 mand i gang med fæstningsbyggeriet ledet af ingeniør Anthony Coucheron, som et af øens batterier er opkaldt efter. Granitten til byggeriet blev brudt på stedet, mens alle andre byggematerialer måtte fragtes over havet. Den 24. oktober 1808 bombarderede en engelsk flåde fæstningen, og flere fartøjer blev skadet: syv mennesker døde og 10 blev såret. I 1855 havde fæstningen mistet sin militære betydning og blev nedlagt.
            <br><br>
            Dr. Dampe sad fængslet i Ballonen fra 1825.
        </p>
    </div>
</div>







