@page "/østerkear-danmarksoestligestepunkt"
@inject IJSRuntime _jsRuntime;

<div class="row d-flex justify-content-center my-3">
    <div class="card mb-3">
        <div class="row">
            <div class="card-header text-center">
                <h3>Østerkær - Danmarks østligeste punkt</h3>
            </div>

            <div class="col-md-4 my-2">
                <img src="images/fugl7457.jpg" class="img-fluid rounded-start my-2" style="padding-right: 2rem" alt="...">
                <img src="images/edderfugl.jpg" class="img-fluid rounded-start mt-2 mb-2" style="padding-right: 2rem" alt="...">
                <img src="images/fugle-blaamejse-close-2.jpg" class="img-fluid rounded-start mt-5 mb-2" style="padding-right: 2rem" alt="...">
                <img src="images/fugle-bramgaes-2-768x1156.jpg" class="img-fluid rounded-start my-2" style="padding-right: 2rem" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body" style="min-height: 550px">
                    <h5 class="card-subtitle mb-2 text-muted">Ynglefuglene</h5>
                    <p class="card-text" style="text-align: justify">
                        Med over 15.000 par ynglende fugle og store mængder trækfugle er Ertholmene også fuglenes øer. De mange fugle ruger på Ertholmene, fordi de her får opfyldt deres to basale krav til ynglepladsen: Mad og fred.
                        De fleste af ynglefuglene er hav- og kystfugle, fx alk, lomvie, sølvmåge og edderfugl. Alk og lomvie er ægte havfugle, der kun kommer på land i yngletiden.
                        <br/><br/>
                        Sølvmåger, alke og lomvier ruger på Græsholm, der er reservat med adgangsforbud. Hovedparten af edderfuglene ruger på de beboede øer, selv i haver og tæt på befærdede stier.
                        <br/><br/>
                        Edderfuglene lever mest af blåmuslinger, mens alke og lomvier især æder brisling – en lille sildefisk, som er talrig omkring øerne.
                        <br/><br/>
                        Kort efter edderfugleællingerne er klækket, svømmer de i småflokke sammen med hunnerne til Bornholm, hvor der er mere mad til ungerne i form af tanglopper og småmuslinger.
                        I edderfuglenes yngletid 1. april-15. juni er færdsel udenfor murene ikke tilladt
                        <br><br>
                        Gennem årene er der registreret 52 forskellige ynglende fuglearter på Ertholmene, men kun 25 arter yngler fast på øerne. De mest almindelige ynglende småfugle er solsort, vipstjert, tornirisk, gråspurv, landsvale og bysvale.
                        <br/><br/>
                        Der har i over 40 år været en feltstation på Christiansø. Stationen forsker i fuglene og øernes natur.
                    </p>
                    <div style="height: 60px">
                        <h2 id="play" type="button" @onclick="PlaySound" class="text-center play-pause">
                            <i id="play-icon" class="bi bi-play-circle"></i>
                        </h2>
                        
                        <h2 id="pause" type="button" @onclick="PauseSound" class="text-center play-pause" style="visibility: hidden">
                            <i id="pause-icon" class="bi bi-pause-circle"></i>
                        </h2>
                    </div>
                    
                    <h5 class="card-subtitle mb-2 text-muted">Trækfuglene</h5>
                    <p class="card-text" style="text-align: justify">
                    Hvert år flyver millioner af skandinaviske småfugle til og fra deres vinterkvarter i varmere egne. Fuglene flyver tusinder af kilometer for altid at være der, hvor vejret og mængden af føde passer dem bedst.
                    <br><br>
                    Det kan være fugle, der kommer fra Finlands skove og er på vej til Afrika. Det kan også være fugle, der trækker kortere, f.eks. fra Sydsverige til Tyskland.
                    <br><br>
                    For disse fugle er Ertholmene en hvileplads under trækket over Østersøen. De fleste trækker om natten. Når de om morgenen befinder sig over havet, søger de mod nærmeste land – og det vil ofte være Ertholmene, der jo ligger isoleret i et stort havområde.
                    <br><br>
                    Forårstrækket på øerne starter i marts, topper i april-maj og slutter i juni. Efterårstrækket starter i august, topper i september-oktober og slutter i november.
                    <br><br>
                    Under trækket kan der raste tusinder af trækfugle på øerne, hvor især rødhals, fuglekonge, løvsanger og drosler kan være meget talrige. På de store trækdage kan øerne være helt levende af småfugle.
                    <br><br>
                    Vejret spiller en stor rolle for mængden af rastende fugle, og der ses generelt flest på stille disede dage.
                    <br><br>
                    De fleste trækfugle bliver kun kort tid. Der er nemlig ikke særlig meget mad på Ertholmene. Specielt kniber det i det sene efterår og det tidlige forår. På dage med dårligt vejr kan fuglene være så afkræftede ved ankomsten, at mange dør.
                    <br><br>
                    Trækket stiller store krav til fuglenes fysik. Kun de stærkeste overlever.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

@code {
    
    private void PlaySound()
    {
        _jsRuntime.InvokeVoidAsync("playAudio");
    }

    private void PauseSound()
    {
        _jsRuntime.InvokeVoidAsync("pauseAudio");
    }
    
}