@page "/storetaarn"

<div class="row d-flex justify-content-center my-3">
  <div class="card mb-3">
    <div class="row">
      <div class="card-header text-center">
        <h3>Store Tårn</h3>
      </div>

      <div class="col-md-4 my-2">
        <img src="images/billede-store-taarn-879x385-1.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eros metus, vehicula non sem vel, viverra fringilla velit. Integer venenatis auctor leo, ac convallis dolor vestibulum quis. Curabitur ultrices tristique lorem, quis fermentum lacus sagittis at. Quisque fringilla risus egestas mauris tempus, ut dapibus mi porttitor. Ut tincidunt aliquam congue. Morbi vel pharetra odio. Suspendisse quis diam sed orci consectetur gravida non non lorem. Sed aliquam libero id nulla consectetur dapibus.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>