@using Blazorise
@inherits LayoutComponentBase

<div class="page">
    <div class="container-fluid">
        <div class="row">
            <NavMenu/>
        </div>
    </div>
    
    <div class="my-container">
        <div class="row">
            <NavImage PageType="@PageType"/>
        </div>
    </div>
    
    <div>
        @Body
    </div>


</div>

@code{
    
    [Parameter]
    public Type PageType { get; set; }
    

     protected override void OnParametersSet()
     {
         if (Body != null) PageType = (Body.Target as RouteView)?.RouteData.PageType;
     }
  }
