.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.row{
    border:0;
    margin-right:0;
    margin-left:0;
    max-width:100%;
    padding-left: 0;
    padding-right: 0;
}


.my-container {
    position: relative;
    text-align: center;
    color: white;
}
