@using Blazorise
@inherits LayoutComponentBase

<NavMenu/>

<main>  
    <NavImage PageType="@PageType"/>
    <div class="container">
        @Body
    </div>
 </main>  

<footer>
    <NavFooter/>
</footer>

    


@code{
    
    [Parameter]
    public Type PageType { get; set; }
    
     protected override void OnParametersSet()
     {
         if (Body != null) PageType = (Body.Target as RouteView)?.RouteData.PageType;
     }
  }
