<footer class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between">
        <img src="images/unnamed.jpg" alt="..." style="height: 92px"/>
            <img src="images/gæstgiveriet.jpg" alt="..." style="height: 92px"/>
            <img src="images/383px-Christiansoe.jpg" alt="..." style="height: 92px"/>
            <img src="images/footer1.jpg" alt="..." style="height: 92px"/>
            <img src="images/footer2.jpg" alt="..." style="height: 92px"/>
            <img src="images/footer3.jfif" alt="..." style="height: 92px"/>
        <img src="images/footer4.jfif" alt="..." style="height: 92px"/>
        <img src="images/footer1.jpg" alt="..." style="height: 92px"/>
        <img src="images/footer2.jpg" alt="..." style="height: 92px"/>
      
        
    </div>
</footer>
