@using Microsoft.AspNetCore.Mvc.RazorPages

<img alt="" class="top-img" src="images/a-Christian havn luftfoto-min.jpg"/>
<div class="centered">
    <h1> @Text </h1>
</div>

@code{

    [Parameter]
    public Type PageType { get; set; }
    
    [Parameter]
    public string Text { get; set; }

    protected override void OnParametersSet()
    {
        try
        {
            switch (PageType.Name)
            {
                case "Index":
                    Text = "Velkommen";
                    break;
                case "CoordinateRoute":
                    Text = "Find Rute";
                    break;
                case "Attractions":
                    Text = "Attraktioner";
                    break;
                case "storetaarn":
                    Text = "Store Tårn";
                    break;
                        

            }
        }
        catch (NullReferenceException e)
        {
            Console.WriteLine(e.Data.ToString());
        }
       
    }


}

