@using Microsoft.AspNetCore.Mvc.RazorPages

<div class="container-fluid d-flex align-items-center justify-content-center image-container">
    <h1 style="font-family: myfont; font-size: 6rem; color: cornsilk">
        @Text
    </h1>
</div>

@code{

    [Parameter]
    public Type PageType { get; set; }
    
    [Parameter]
    public string Text { get; set; }

    protected override void OnParametersSet()
    {
        try
        {
            switch (PageType.Name)
            {
                case "Index":
                    Text = "Velkommen";
                    break;
                case "CoordinateRoute":
                    Text = "Find Rute";
                    break;
                case "Attractions":
                    Text = "Attraktioner";
                    break;
                case "Storetaarn":
                    Text = "Store Tårn";
                    break;
                        

            }
        }
        catch (NullReferenceException e)
        {
            Console.WriteLine(e.Data.ToString());
        }
       
    }


}

