
<div class="container-fluid border-bottom border-3 navbarBackground">
    <nav class="navbar navbar-expand-lg">
        <div class="row">
            <div class="col">
                <a href="/" class="my-nav-item">Home</a>
            </div>
            <div class="col">
                <a href="/attractions" class="my-nav-item">Attraktioner</a>
            </div>
            <div class="col">
                <a href="/" class="my-nav-item">Koordiner Rute</a>
            </div>
        </div>
    </nav>
</div>

    






   