<div class="container-fluid navbarBackground">
    <nav class="navbar">
        <div class="row">
            <div class="col">
                <a href="/" class="my-nav-item">Home</a>
            </div>
            <div class="col">
                <a href="/attractions" class="my-nav-item">Attraktioner</a>
            </div>
            <div class="col">
                <a href="/coordinate-route" class="my-nav-item">Koordiner Rute</a>
            </div>
        </div>
    </nav>
</div>