<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar">
            <NavLink href="#">
                <a  class="navbar-brand">
                    <img alt="" class="d-inline-block align-top" style="width: 300px; height: 60px" src="images/chro-logo-rgb-1.jpg"/>
                </a>
            </NavLink>
            <NavLink href="attractions">
                <span class="my-nav-item"> Attraktioner</span>
            </NavLink>
            
            <NavLink>
                <a href="coordinate-route" class="my-nav-item">Koordiner Rute</a>
            </NavLink> 
        </div>

    </div>
    
</nav>