<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <NavLink href="/">
            <a class="navbar-brand"><img alt="" style="width: 14rem;" src="images/chro.png"/></a>
        </NavLink>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink href="attractions">
                        <a class="nav-link">Attraktioner</a>
                    </NavLink>
                </li>
            
                <li class="nav-item">
                    <NavLink href="coordinate-route">
                        <a class="nav-link">Find Rute</a>
                    </NavLink>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink href="contact">
                        <a class="nav-link">Kontakt</a>
                    </NavLink> 
                </li>
            </ul>
            
        </div>
    </div>
</nav>
