
<div class="col-10 d-flex justify-content-left">
    <span>
    <NavLink href="#">
        <a class="navbar-brand">
            <img alt="" class="d-inline-block align-top" style="width: 300px; height: 60px" src="images/chro-logo-rgb-1.jpg"/>
        </a>
    </NavLink>
    </span>

    <span>
    <div class="my-nav-item">
    <NavLink href="attractions">
            
        Attraktioner
            
    </NavLink>
    </div>
    </span>


    <span>
    <div class="my-nav-item">
    <NavLink href="coordinate-route">
            
        Find Rute
            
    </NavLink>
    </div>
    </span>
</div>  


<div class="col-2 d-flex justify-content-center">
    <div class="my-nav-item">
        <NavLink href="contact">
            Kontakt
        </NavLink>
        </div>
</div>







    
    
    
     