.navbar {
    margin-bottom: 0px;
    height: 75px;
    padding: 0;
}


.my-nav-item {
    margin: 20px;
    padding: 10px 15px;
    background-color: transparent;
    width: 150px;
    display: block;
    text-align: center;
    border-radius: 12px;
}

.my-nav-item:hover {
    background-color: deepskyblue;
    color: black;
}
.my-nav-item:active,
.my-nav-item:focus{
    text-decoration: none;
    color: black;
    background-color: deepskyblue;
}